{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The tag below includes the theme header - partials/header.hbs --}}
{{> header}}

{{!-- The content area on the author archive page --}}
<div id="content" class="site-content">
	<main id="main" class="site-main outer">

		{{!-- Everything inside the #author tags pulls data from the author --}}
		{{#author}}
		<header class="page-header inner">
			<h1 class="page-title">{{name}}</h1>
			<p class="page-description">A collection of {{plural ../pagination.total empty='0 posts' singular='% post' plural='% posts'}}</p>
		</header><!-- .page-header -->
		{{/author}}

		{{!-- The tag below includes the post loop - partials/loop-archive.hbs --}}
		{{> "loop-archive"}}

		{{!-- The tag below includes the newsletter subscription section - partials/newsletter-box.hbs --}}
		{{> "newsletter-box"}}

	</main><!-- .site-main -->
</div><!-- .site-content -->
