{{!-- Newer and older posts links --}}
<nav class="pagination inner">
	<div class="nav-links">
		{{#if prev}}
		<a class="newer-posts" href="{{page_url prev}}"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Newer Posts</span></a>
		{{/if}}
		<span class="page-number">Page {{page}} of {{pages}}</span>
		{{#if next}}
		<a class="older-posts" href="{{page_url next}}"><span class="screen-reader-text">Older Posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
		{{/if}}
	</div><!-- .nav-links -->
</nav><!-- .pagination -->
