{{!-- Social links list --}}
<p class="social-links">
	{{#if @blog.facebook}}
	<a href="{{facebook_url}}" target="_blank"><span class="fa-facebook-f fa" aria-hidden="true"></span><span class="screen-reader-text">Facebook</span></a>
	{{/if}}
	{{#if @blog.twitter}}
	<a href="{{twitter_url}}" target="_blank"><span class="fa-twitter fa" aria-hidden="true"></span><span class="screen-reader-text">Twitter</span></a>
	<!-- {{/if}} 
	<a href="#" target="_blank"><span class="fa-instagram fa" aria-hidden="true"></span><span class="screen-reader-text">Instagram</span></a>
	<a href="#" target="_blank"><span class="fa-github fa" aria-hidden="true"></span><span class="screen-reader-text">GitHub</span></a>
	<a href="#" target="_blank"><span class="fa-codepen fa" aria-hidden="true"></span><span class="screen-reader-text">CodePen</span></a> -->
</p><!-- .social-links -->
