{{!-- Widget to display the Ghost subscribe form --}}
{{#if @labs.subscribers}}
<section class="widget widget-newsletter">
	<h2 class="widget-title">Weekly Newsletter</h2>
	<p>Get the latest and greatest from {{@blog.title}} delivered straight to your inbox every week.</p>
	{{subscribe_form form_class="gh-subscribe-form" button_class="button" placeholder="Your email address"}}
</section><!-- .widget -->
{{/if}}
